# First access details (access to cluster instances)
INIT_SSH_USER='ubuntu'
INIT_SSH_ACCESS_KEY='./ssh-keys/test_aws_cluster_key.pem'

# Setup details, username will be used on cluster and we need project root for upload MR code on cluster
DEFAULT_CLUSTER_KEY_NAME="cluster_id_rsa"
DEFAULT_USERNAME="streamline"
DEFAULT_PROJECT_ROOT="../mapreduce"
